@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans+SemiExpanded:ital,wght@0,200..900;1,200..900&display=swap');

main h2 {
    font-family: "Zalando Sans SemiExpanded", sans-serif;
}